@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--color-texto-1:#fff;
	--color-Titulo-1:#FF7C58;
	--color-Titulo-2:#0399C5;
	--color-background-1:#FF7C58;
	--color-background-2:#0399C5;
	--color-header:#1E1E1E;
	--color-negro:#000;
	--padding-section:50px 0;
	--padding-btn-primary:40px 15px;
	--padding-btn-secondary:padding: 40px 15px;
	--btn-border-radius:32px;
}

body{
	font-family: "Poppins", sans-serif;
}

header{
	background-color: #1E1E1E;
	
}

.padding-section {
	padding: 50px 0;
}



#hero {
	background-image: url("../img/79696-Omoa.jpg");
	background-size: cover;
	background-position: center;
	padding: 12% 0;
	color: #fff;
	background-color: rgba(0,0,0,0.63);
	font-family: "Raleway", sans-serif;
}

#hero h1 {
	color: #fff;
	background-color: rgba(0,0,0,0.63);
	font-size: 88px;
	font-weight: bold;
	border-radius: 37px;
	padding: 10px 20px;
}

#hero-tour {
	background-image: url("../img/muelle.png");
	background-size: cover;
	background-position: center;
	padding: 12% 4%;
	color: #fff;
	font-size: 24px;
	
}

#hero-tour h1 {
	font-weight: bold;
	border-radius: 37px;
	
}


#historia {
	margin: 80px 0;
	
}

#historia h2{
	text-align: center;
}

#hotel-continental{
	background-image: url("../img/Group 48.png");
	background-size: cover;
	background-position: center;
	padding: 3% 0 30%;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}


#mas-imagenes {
	text-align: center;
	color: #FF7C58;
	font-size: 40px;
	margin: 30px 0;
}


.grupo-texto {
	font-size: 28px;
	padding: 0 25px 25px 20px;
	
}

hr {
	border-color: var(--color-Titulo-2);
	border-width: 32px;
	opacity: 100;
	margin: 80px 40px;
}

.titulo {
	font-size: 50px;
	font-weight: bold;
	color: #FF7C58;
	margin: 0px 0 50px;
	font-family: "Montserrat", sans-serif;
}

.info-text {
	align-content: center;
	padding: 30px;
	font-size: 40px;
	color: #fff;

}

.subtitulo{
	color: #fff;
	padding: 0px 40px;
}



#ruta-504 {
	text-align: center;
	
}

.info {  
	background-color: #0399C5;
	color: #fff;
	text-align: left;
	margin: 100px 0;
	box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.25); 
	
}



.info-nosotros {
	align-content: center;
	padding: 10px;
	font-size: 33px;
}

#lista-de-toures {
	font-family: "Montserrat", sans-serif;
}
#lista-de-toures h5{
	margin: 10px 0 0 ;
}

.toures-titulo {
	color: var(--color-Titulo-2);
}

#informacion-extra {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

.sobre-hotel {
	align-content: center;
	padding: 10px;
	font-size: 28px;
	 margin: 5%;
}


.perfil-box {
  border: 3px solid #03599E;
  position: relative;
}

.editar-perfil {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ff5f2e;
  font-weight: bold;
  text-decoration: none;
  border-color: #545554
}

.reserva-box {
  background-color: #0399C5;
}

.section-title {
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      background-color: #00b2e3;
      display: inline-block;
      padding: 5px 30px;
      border-radius: 15px;
      margin: 0px 0 0 20%;
		text-align: center;
}

.info-hotel {  
	text-align: left;
	margin: 100px 0;
	
}

#nuestros-servicios h1{
	font-weight: bold;
	text-align: center;
	color: var(--color-Titulo-2);
	font-size: 50px;
	margin: 18px 0;
}


#mision-vision {
	margin: 80px;
	font-size: 20px;
}

#mision-vision h2{
	text-align: center;
}

#reservaciones{
	background-image: url("../img/Group 66.png");
	background-size: cover;
	margin: 50px 0 100px;
	padding: 15% 5%;
	background-position: center;
}

#guias{
	background-image: url("../img/Group 67.png");
	background-size: cover;
	margin: 50px 0 100px;
	padding: 15% 5%;
	background-position: center;
}

#itinerarios{
	background-image: url("../img/Group 68.png");
	background-size: cover;
	margin: 50px 0 100px;
	padding: 15% 5%;
	background-position: center;
}

#calendarios{
	background-image: url("../img/Group 69.png");
	background-size: cover;
	margin: 50px 0 100px;
	padding: 15% 5%;
	background-position: center;
}

#calendario{
	padding:0 12% 0 0;
}

#perfil {
	border: solid;
	margin: 40px 16%;
	padding: 30px 0;
	font-size: 25px;
	border-radius: 40px;
	border-color: var(--color-background-2)
}

.reserva-1 {
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}

.info-reservas {
	font-size: 24px;
	color: #fff;
}

.btn-primary {
	background-color: #FF7C58;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	border-radius: 32px;
	padding: 40px 10px;
	border-color: #FF7C58;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.btn-primary:hover{
	background-color: #0399C5;
}


.vacaciones-btn {
	background-color: #FF7C58;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	border-radius: 32px;
	padding: 40px 10px;
	border-color: #FF7C58;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

#servicios {
	text-align: center;
	color: #FF7C58;
	font-size: 40px;
	margin: 135px 0;
}



.texto-s {
	padding: 40px;
	font-size: 30px;
	color: var(--color-background-1);
}

.texto-servicios {
	padding: 40px;
	font-size: 30px;
	color: #fff;
}

.subtitulo {
	font-size: 48px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif
}

#servicios img {
	box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.25);
}

.titulo-2{
	color: #0399C5;
	font-weight: bold;
	padding: 30px 0;
	font-size: 64px;
}

#cta{
	text-align: center;
	background-image: url("../img/662a9a37-city-47807-158e432ed46.jpg");
	background-size: cover;
	background-position: center;
	padding: 756px 0 0;
	
}

.btn-secondary{
	background-color: rgba(0,0,0,0.63);
	margin: 90px 0;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	border-radius: 32px;
	padding: 40px 15px;
	border-color: rgba(0,0,0,0.63);
	font-family: "Montserrat", sans-serif;
	
}

.btn-primary {
	background-color: #FF7C58;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	border-radius: 32px;
	padding: 40px 10px;
	border-color: #FF7C58;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

.btn-primary:hover{
	background-color: #0399C5;
}

.planes {
	background-color: #FF7C58;
	color: #fff;

	font-size: 35px;
	font-weight: bold;
	border-radius: 32px;
	padding: 40px 10px;
	border-color: #FF7C58;
}

.reserva {
	background-color: #FF7C58;
	color: #fff;

	font-size: 20px;
	font-weight: bold;
	border-radius: 32px;
	padding: 20px 50px;
	border-color: #FF7C58;
}


#hoteles {
	text-align: center;
}


.hotel-1{
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}

.hotel-2{
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}

.hotel-3{
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}


.hotel-4{
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}


.botones {
	background-color: var(--color-background-2);
	text-align: center;
	padding: 3%;
	 border-radius: 15px;

}

.btn-filtro {
  background-color: #FF7C58;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  transition: background-color 0.3s;
	margin: 3px 0;
	
}

.btn-filtro:hover {
  background-color: #fff;
color: #0399C5;
}

.btn-filtro i {
  margin-left: 100px;
	
}

.reservaciones { 
	.paquete {
		background-color: white;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 500px;}
		
		.section-title {
			font-size: 20px;
            /* padding: 0 !important; */
            background-color: #00b2e3;
            margin: 0 !important;
            width: 250px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
		}
		
		.card {
			background-color: #00b2e3;
			color: #FFFFFF;
			min-height: 500px;	
		}

		.paquete-lujo {
			background-color: #02599E;
		}

		.btn-reservaciones {
			display: flex;
    		justify-content: center;
		}

		.btn-primary {
			font-size: 20px;
			height: 40px;
			width: 180px;
			text-align: center;
			border-radius: 20px;
			padding: 5px 15px 15px 15px;
		}
	}

footer {
		.redes {
			display: flex;
			justify-content: center;
			gap: 20px;
			align-items: center;

			i {
				color: #fff;
			}
		}
	}


.calendario {

	section {
		h4 {
			color: #00b2e3;
			font-size: 24px;
			font-weight: bold;
		}

		h1 {
			color: #02599E;
			font-size: 56px;
			font-weight: bold;
			margin: 20px 0;
		}
	}

	table {
		width: 80vw;
		height: 80vh;
		text-align: left;
		vertical-align: top;
		table-layout: fixed;

		.table-light {
			background-color: #02599E;
			color: #fff;
		}

		thead th {
			background-color: #02599E;
			color: #FFFFFF;
		}
		
		td, th {
			width: 100px;
			height: 100px;
			text-align: left;
			vertical-align: top;
			font-size: 1rem;
			color: #00b2e3;
		}
	}

	.sub-section {
		h2 {
			color: #00b2e3;
			font-size: 32px;
			font-weight: bold;
			margin: 20px 0;
		}

		h1 {
			color: #FF7C58;
			font-size: 34px;
			font-weight: bold;
			margin: 20px 0;
		}

		.agregar-evento {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 5px solid #00b2e3;
			border-radius: 10px;
			padding: 20px;
			background-color: #fff;
			min-height: 200px;
		}
	}
		footer {
		.redes {
			display: flex;
			justify-content: center;
			gap: 20px;
			align-items: center;

			i {
				color: #fff;
			}
		}
	}

}

.aventura {

	.closing-section {

		.image-container-background {
			background-image: url('../img/662a9a37-city-47807-158e432ed46.jpg');
			background-position: center;
			background-size: cover;
			padding: 90px 0;
		}

		h2 {
			color: #FFFFFF;
			font-size: 42px;
			font-weight: bold;
			margin: 60px 0;
			padding: 40px 0;
		}

		.btn-primary {
			background-color: #FF7C58;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			border-radius: 20px;
			padding: 10px 15px;
			border-color: #FF7C58;
			margin-top: 20px;
		}
	}

	.itinerario-incluye {
		h2 {
			color: #00b2e3;
			font-size: 32px;
			font-weight: bold;
			margin: 20px 0;
		}

		.card {
			font-size: 25px;
			color: #FFFFFF;
			box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.25);
			border-radius: 15px;
			overflow: hidden;
			margin: 20px;
			background-color: #00b2e3;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
		}

		.list-group {
			text-decoration: none;
			list-style-type: none;
		}
	}

	.sugerencias-itinerario {

		.card {
			box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.25);
		}

		h2 {
			color: #00b2e3;
			font-size: 42px;
			font-weight: bold;
			margin: 20px 0;
			text-align: left;
		}

		.duracion {
			color: #FF7C58;
			font-weight: bold;
			margin: 10px 0;
		}
	}

	.top-pic-container {
		
		.container {

			h1 {
				color: #00b2e3;
				font-size: 44px;
				font-weight: bold;
				margin: 20px 0;
			}
			p {
				font-size: 24px;
			}
			p.sub-title {
				font-size: 34px;
				margin: 10px 0;
			}


			    top: -220px;
				border-radius: 20px;
				box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.25);
				position: relative;
				background-color: white;
				height: 600px;

			.card {
				box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.25);
				border-radius: 15px;
				overflow: hidden;
				margin: 20px;
				background-color: #fff;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px;
				
				
				.select-box-first {
					border-bottom: 1px solid #000;
					border-right: 1px solid #000;
				}
				
				.select-box-last {
					border-top: 1px solid #000;
					border-left: 1px solid #000;
				}

				.select-box select {
					    border: 1px solid black;
				}

			}
			#btn-generar-plan {
				background-color: #FF7C58;
				color: #fff;
				font-size: 20px;
				font-weight: bold;
				border-radius: 20px;
				padding: 10px 20px;
				border-color: #FF7C58;
				margin-top: 20px;
				position: relative;
    			top: -55px;
			}
		}
		
		.img-container {
			img {
				position: relative;
				top: 0;
				left: 0;
				width: 100vw;
				max-height: 400px;
				height: 100%;
				object-fit: cover;
				z-index: 0;
			}
		}
	}
}


footer {
	background-color: #0399C5;
	color: #fff;
	padding: 25px 0;
	text-align: center;
	margin: 30px 0 0 0;
	font-weight: bold;
	font-size: 25px;
}

.fa-phone{
	padding: 0 2px 0 0;
}

.fa-envelope{
	padding: 0 2px 0 0;
}


#ctb{
	text-align: center;
}

/*tablet*/

@media (min-width:600px) and (max-width: 1200px) { 
	
	#plan-reserva {
		text-align: center;
	}
	.btn-filtro {
		font-size: 12px;
		padding: 10px 5px;
	}
	
	.sm {
		padding: 30px 30px;
	}
	
	.text-white {
		padding: 30px 0;
	}
	
	.text-end{
		text-align: center !important;
	}
	
	.navbar-light {
		font-size: 20px;
	}
	
	.titulo {
		font-size: 40px;
	}
	
	.subtitulo{
		padding: 20px 0 0 0;
	}
	
	.info-text {
		font-size: 20px;
	}
	
	#hero h1 {
	font-size: 68px;
	padding: 10px 20px;}
	
	#cta{
	text-align: center;
	background-image: url("../img/662a9a37-city-47807-158e432ed46.jpg");
	background-size: cover;
	background-position: center;
		padding: 206px 0 0;}
	
	#servicios {
		margin: 20px 0;
	}
	
	.hotel-1{
	text-align: center;
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}

.hotel-2{
	text-align: center;
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}

.hotel-3{
	text-align: center;
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}


.hotel-4{
	text-align: center;
	background-color: var(--color-background-2);
	margin: 0 0 57px 0;
}
	
  footer {
	background-color: #0399C5;
	color: #fff;
	padding: 25px 0;
	text-align: center;
	margin: 30px 0 0 0;
	font-weight: bold;
	font-size: 20px;
 }


/*celular*/
@media (max-width: 600px) { 

	
	
	
	
	
	
	
	
	
}
	
 }